#aboutpage-container {
    width: 100%;
    height: calc(100vh - 90px); /*minus navbar height*/
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 30px;
}

.card {
    background-color: var(--bg);
    color: var(--text);
    padding: 2rem;
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 480px) {
    .page {
        align-items: flex-start;
        padding: 10%;
    }
}
