.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background: var(--bg-dark); /* or white or whatever your app uses */
    box-sizing: border-box;
}

.header {
    padding-top: 110px;
}

.list {
    background-color: var(--bg-dark);
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 100% /*955px*/ /*845px*/;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}

.filters {
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.searchContainer {
    display: flex;
    min-width: 50%;
    max-width: 100%;
    padding: 2.5%;
}

.searchInput {
    flex: 1;
    height: 32px;
    border: 1px solid;
    font-size: 14px;
    border-radius: 6px;
}

.collapseCategories {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    cursor: pointer;
    padding: 18px;
    /*width: 100%;*/
    font-size: 14px;
    border-radius: 6px;
}

.active,
.collapseCategories:hover {
    background-color: #eee;
}

.collapseCategories:after {
    content: "\002B";
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.categoryFilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease out;
}

.categoryLabel {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.categoryImage {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.categoryCheckbox {
    cursor: pointer;
}
.card {
    min-height: 50px;
    padding: 14px 14px 20px 14px;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card > span {
    padding-top: 20px;
    font-size: 16px;
}
