.dialog {
    top: 80px;
    width: 100vw;
    height: calc(100vh - 80px);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 12px;
    list-style: none;
}

.filters {
    display: flex;
    flex-direction: column;
}

.searchContainer {
    display: flex;
    max-width: calc(50%);
}

.searchInput {
    flex: 1;
    height: 32px;
    border: 1px solid;
    font-size: 14px;
}

.categoryLabel {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.categoryImage {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.categoryCheckbox {
    cursor: pointer;
}
.card {
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
