.dialog {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

.dialog.open {
    display: flex;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.popupHeader {
    padding-bottom: 12px;
}
