.popup {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

.popup[open] {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    display: block;
    line-height: 22px;
}

.popup-header {
    padding-bottom: 12px;
}

#game-instructions-text b {
    display: block;
    margin-top: 6px;
}

@media (max-width: 456px) {
    #game-instructions {
        min-width: 70vw;
        max-height: 80vh;
    }
}
