#game-instructions {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

#game-instructions[open] {
    display: flex;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#game-instructions-text h3 {
    margin-bottom: 12px;
}

#game-instructions-text b {
    display: block;
    margin-top: 6px;
}
