#image-credits {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

#image-credits[open] {
    display: flex;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    /*gap: 1rem;*/
    overflow: hidden;
}

.image-credits-header {
    padding-bottom: 12px;
}
