#image-credits {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

#image-credits[open] {
    display: flex;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    /*gap: 1rem;*/
    overflow: hidden;
}

#image-credits-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    border: none;
}

#image-credits-close > img {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 100%;
    background-color: hsl(0, 0%, 90%);
}

#image-credits-close > img:hover {
    background-color: hsl(0, 0%, 87%);
}

.image-credits-header {
    padding-bottom: 12px;
}
