/* Quick styles to center the results modal */
#word-guess-results-dialog {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    background: white;
}

#word-guess-results-dialog[open] {
    display: flex;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    /*gap: 1rem;*/
    overflow: hidden;
}
