* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(220, 85%, 53%);
    --bg: hsl(0, 0, 95%);
    --bg-light: hsl(0, 0, 100%);
    --bg-card-btns: hsl(0, 0%, 17%);
    --bg-card-btns-hover: hsl(0, 0%, 25%);
    --text: hsl(222, 77%, 5%);
    --text-muted: hsl(0, 0, 30%);
    --border: hsl(0, 0, 70%);
    --notification-padding: 5ch;
}

body {
    min-height: 100vh;
    background-color: var(--bg-dark);
    /*background: radial-gradient(circle at center, var(--bg-dark) 0%, #000820 100%);*/
    /*background: radial-gradient(circle at center, var(--bg-dark) 0%, hsl(225, 100%, 25%) 100%);*/
    font-family: "Inter", sans-serif;
}

.mainview-header {
    background-color: var(--bg);
    height: 90px;
    border: 2px solid var(--border);
    padding: 16px 26px;
}

.mainview-main {
    padding-top: 90px;
}

.mainview-main > section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-content: center;
    justify-items: center;
    column-gap: 55px;
    row-gap: 55px;
    max-width: 955px /*845px*/;
    margin: 0 auto;
    padding: 0 30px;
    list-style-type: none;
}

/* Hide sections by adding .hidden at the end of the class name */
.hidden {
    display: none !important;
}

ul#notification-list {
    position: fixed;
    bottom: var(--notification-padding);
    right: var(--notification-padding);
    z-index: 100;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--notification-padding);
}

@media (max-width: 480px) {
    .mainview-main {
        padding-top: 10%;
    }

    .mainview-main > ul#category-selector-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
    .mainview-header {
        position: fixed;
        bottom: 0;
        inset-inline: 0;
        z-index: 1;
        padding-inline: 10px;
        height: 100px;
    }
}
