/* Define general layout details. */
:root {
    --general-spacing: 0.5rem;
}

/* Center the contents on the page for reasonable look on large screens. */
html {
    display: grid;
    place-items: center;
}

/* Limit width but ensure size includes collapsed sections. */
body,
dialog {
    width: 100%;
    max-width: 100ch;
}

/* Make form section padding similar to other values. */
fieldset {
    padding: var(--general-spacing);

    > * {
        padding-block-start: calc(var(--general-spacing) / 2);
        padding-block-end: calc(var(--general-spacing) / 2);
    }
}

/* Show image preview figure inline. */
figure {
    margin: 0;

    /* Don't let the image be overly large. */
    img {
        max-block-size: 25ch;
    }
}

/* Ensure text areas expand to fill space. */
textarea {
    width: 100%;
}

/* Reset typical list styling. */
ul {
    list-style: none;
    padding: 0%;

    /* Always use a grid layout instead. */
    display: grid;
    gap: var(--general-spacing);
    grid-template-columns: repeat(auto-fit, minmax(var(--child-size), 1fr));

    /* Define word list layout. */
    &.words {
        --child-size: 25ch;

        /* Let child contents participate in the grid. */
        li {
            display: contents;
        }

        /* Make open category section take full width. */
        details[open] {
            grid-column: 1 / -1;

            /* Ensure gap before starting category content. */
            summary {
                padding-block-end: var(--general-spacing);
            }
        }
    }

    /* Syllable sounds don't need as much space. */
    &.sounds {
        --child-size: 5ch;
    }
}

/* Lay out buttons evenly and with enough space. */
section {
    gap: var(--general-spacing);
    display: flex;
    padding-block-start: var(--general-spacing);

    /* Expand to fit space. */
    button {
        flex: 1 1 auto;
    }
}

/* Don't try and shove form fields in single line. */
label,
input,
select,
textarea {
    display: block;
}

/* Mark deleted items by overlining text. */
.removed span {
    text-decoration: line-through;
}

/* Expand progress to fill space. */
progress {
    width: 100%;
    padding: 0;
}
